.helyx-content p.helyx-item-list 
{
    line-height: 25px;
}

.helyx-content p.helyx-item-list b
{
    color: #f8f8eb;
}

.helyx-content div.helyx-block-section-body p.helyx-item-list b
{
    color: black;
}