<section class="helyx-content">
<p>This module accepts only PDF files from PAIZO, and with their watermarks.
Anonymized PDFs will not be imported</p>
<hr>
<p><b>Adventures</b></p>
<ul>
    <li>Crypt of the Everflame</li>    
</ul>

</section>